<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=2.0">

    <!-- 포털사이트에 노출되는 PC website 정보-->
    <meta name="title" content="원남메디칼">
    <meta name="Author" content="clara">
    <meta name="Keywords" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업 ">
    <meta name="Description" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">

    <!--포털사이트에 노출되는 모바일 website 정보-->
    <meta property="og:type" content="mobilesite">
    <meta property="og:title" id="ogtitle" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">
    <meta property="og:description" id="ogdesc" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">
    <meta property="og:image" id="ogimg" content="">

    <title>wonnam medical : : official</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">






    <!--설명:html5 태그 ie 9 버전 미만일때 적용 스크립트-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--설명:IE6, IE7, IE8이 제대로 알아듣지 못하는 CSS도 사용가능 -->
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

    <!--설명:IE 8이하 브라우저에 미디어쿼리 인식 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--설명:IE 8이하 브라우저에 placeholder 속성 사용 -->
    <!--[if lt IE 9]>
    <script src="/script/placeholders.min.js"></script>
    <![endif]-->

    <!--설명:nth-child ie 8버전 이하에서 사용 -->
    <!--[if lt IE 9]>
    <script src="/script/selectivizr-min.js"></script>
    <![endif]-->

    <script src="/script/ie-checker-min.js"></script>

    <!--설명:IE8버전 이하에서 접속할경우 메시지보이기 -->
    <!--[if lte IE 8]>
    <p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
    <a href="http://www.microsoft.com/korea/ie" target="_blank" >익스플로러,</a>
    <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
    <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>
    <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
    <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a></p>
    <![endif]-->




</head>

<body>

   
<!--   header include-->
   
    <? include "include/header.html" ?>
   
    <div id="visual_main">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/images/visual_main01.jpg" alt="visual01" class="visual_pc">
                    <img src="/images/visual_mo01.jpg" alt="visual01" class="visual_mo">
                </div>
                <div class="swiper-slide">
                    <img src="/images/visual_main02.jpg" alt="visual02" class="visual_pc">
                    <img src="/images/visual_mo02.jpg" alt="visual02" class="visual_mo">
                </div>
                <div class="swiper-slide">
                    <img src="/images/visual_main03.jpg" alt="visual03" class="visual_pc">
                    <img src="/images/visual_mo03.jpg" alt="visual02" class="visual_mo">
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <!--
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
-->
        </div>
    </div>

    <div id="section1">
        <div class="prod_wrap">
            <h2>원남메디칼(주) 제품라인<span>저희 원남메디칼은 1952년 원남의지로 설립되어 <br class="br_mo">국내 의료보조기 발전에 <br>
                    선도적인 역할을 해왔으며 <br class="br_mo"> 믿음, 신뢰, 봉사를 바탕으로 한 기업이며 <br class="br_mo">오직 한 길을 걸어왔습니다.</span></h2>

            <div class="prod_top">
                <ul>
                    <li>
                        <div class="text">
                            <h3>레오니</h3>
                            <p>저희 원남메디칼은 1952년 원남의지로 설립되어
                                국내 의료보조기 발전에 선도적인 역할을 해왔으며
                                믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                                오직 한 길을 걸어왔습니다.</p>
                        </div>
                        <div class="picture"><img src="/images/prod_img01.png" alt="레오니">
                            <h3></h3>
                        </div>
                    </li>

                    <li class="right">
                        <div class="text">
                            <h3>아이림 울트라 (전자의수)</h3>
                            <p>저희 원남메디칼은 1952년 원남의지로 설립되어
                                국내 의료보조기 발전에 선도적인 역할을 해왔으며
                                믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                                오직 한 길을 걸어왔습니다.</p>
                        </div>
                        <div class="picture"><img src="/images/prod_img02.png" alt="전자의수">
                            <h3></h3>
                        </div>
                    </li>

                    <li>
                        <div class="text">
                            <h3>원남메디칼 제품들</h3>
                            <p>저희 원남메디칼은 1952년 원남의지로 설립되어
                                국내 의료보조기 발전에 선도적인 역할을 해왔으며
                                믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                                오직 한 길을 걸어왔습니다.</p>
                        </div>
                        <div class="picture"><img src="/images/prod_img03.png" alt="의족">
                            <h3></h3>
                        </div>
                    </li>

                    <li class="right">
                        <div class="text">
                            <h3>풋커버 + 프로슬렉스XC</h3>
                            <p>저희 원남메디칼은 1952년 원남의지로 설립되어
                                국내 의료보조기 발전에 선도적인 역할을 해왔으며
                                믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                                오직 한 길을 걸어왔습니다.</p>
                        </div>
                        <div class="picture"><img src="/images/prod_img04.png" alt="풋커버와 프로플렉스">
                            <h3></h3>
                        </div>
                    </li>

                    <li class="big">
                        <div class="swiper-big">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <h3>대퇴의족</h3><img src="/images/prod_big_img01.png" alt="big01">
                                </div>
                                <div class="swiper-slide">
                                    <h3>대퇴의족</h3><img src="/images/prod_big_img02.png" alt="big02">
                                </div>
                                <div class="swiper-slide">
                                    <h3>대퇴의족</h3><img src="/images/prod_big_img03.png" alt="big03">
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <div class="bg_blue"></div>

            </div>

            <div class="prod_bottom">

                
<img class="zbxe_widget_output" widget="content" skin="default" colorset="white" content_type="document" module_srls="225" list_type="gallery" tab_type="none" markup_type="list" list_count="4" cols_list_count="4" page_count="1" subject_cut_size="10" content_cut_size="54" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="279" thumbnail_height="186" />                                                
                                                                
                                                                                                
                <!--<ul>
                    <li class="thumb"><img src="/images/prod_b01.jpg" alt="prod01"></li>
                    <li>
                        <h3>원남메디칼 제품들</h3>
                    </li>
                    <li class="ex">저희 원남메디칼은 1952년
                        원남의지로 설립되어 국내 의료보조기 발전에
                        선도적인 역할을 해왔으며
                        믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                        오직 한 길을 걸어왔습니다.</li>
                </ul>
                <ul>
                    <li class="thumb"><img src="/images/prod_b02.jpg" alt="prod02"></li>
                    <li>
                        <h3>원남메디칼 제품들</h3>
                    </li>
                    <li class="ex">저희 원남메디칼은 1952년
                        원남의지로 설립되어 국내 의료보조기 발전에
                        선도적인 역할을 해왔으며
                        믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                        오직 한 길을 걸어왔습니다.</li>
                </ul>
                <ul>
                    <li class="thumb"><img src="/images/prod_b03.jpg" alt="prod03"></li>
                    <li>
                        <h3>원남메디칼 제품들</h3>
                    </li>
                    <li class="ex">저희 원남메디칼은 1952년
                        원남의지로 설립되어 국내 의료보조기 발전에
                        선도적인 역할을 해왔으며
                        믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                        오직 한 길을 걸어왔습니다.</li>
                </ul>
                <ul>
                    <li class="thumb"><img src="/images/prod_b04.jpg" alt="prod04"></li>
                    <li>
                        <h3>원남메디칼 제품들</h3>
                    </li>
                    <li class="ex">저희 원남메디칼은 1952년
                        원남의지로 설립되어 국내 의료보조기 발전에
                        선도적인 역할을 해왔으며
                        믿음, 신뢰, 봉사를 바탕으로 한 기업이며
                        오직 한 길을 걸어왔습니다.</li>
                </ul>

-->
            </div>
        </div>

    </div>


    <div id="section2">
        <div class="section2_box">

            <div class="btn_box">
                <a href="#">
                    <ul class="btns">
                        <li class="icon"><img src="/images/icon_34.png" alt="icon"></li>
                        <li class="subject">02 - 852 - 8877</li>
                        <li class="exp">
                            <span>평일</span>
                            <span>09:00~17:30</span>
                            <span>주말(토)</span>
                            <span>09:00~12:30</span>
                        </li>
                    </ul>
                </a>
                <a href="#">
                    <ul class="btns">
                        <li class="icon"><img src="/images/icon_37.png" alt="icon"></li>
                        <li class="subject">상담예약</li>
                        <li class="exp">지금 바로 신청 가능합니다.</li>
                    </ul>
                </a>
                <a href="#">
                    <ul class="btns">
                        <li class="icon"><img src="/images/icon_41.png" alt="icon"></li>
                        <li class="subject">장애인 복지법</li>
                        <li class="exp">장애인에게 지원되는 부분들을 알 수 있습니다.</li>
                    </ul>
                </a>
                <a href="#">
                    <ul class="btns">
                        <li class="icon"><img src="/images/icon_42.png" alt="icon"></li>
                        <li class="subject">인증특허</li>
                        <li class="exp">원남메디칼의 연구성과와 노력을 알 수 있습니다.</li>
                    </ul>
                </a>
            </div>
            <div class="model"><img src="/images/model.png" alt="model"></div>
        </div>
    </div>


    <div id="section3">
        <img src="/images/sec03.jpg" alt="textimg" class="section3_pc">
        <img src="/images/sec03_mo.jpg" alt="textimg" class="section3_mo">
    </div>


<!--    footer include-->
 <? include "include/footer.html" ?>
 
<!-- quick include-->
 <? include "include/quick.html" ?>




    <script src="/script/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'fade',
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>

    <script>
        var swiper = new Swiper('.swiper-big', {
            effect: 'slide',
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            }
        });

    </script>

    <script src="/script/action.js"></script>


</body>

</html>
