<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=2.0">

    <!-- 포털사이트에 노출되는 PC website 정보-->
    <meta name="title" content="원남메디칼">
    <meta name="Author" content="clara">
    <meta name="Keywords" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업 ">
    <meta name="Description" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">

    <!--포털사이트에 노출되는 모바일 website 정보-->
    <meta property="og:type" content="mobilesite">
    <meta property="og:title" id="ogtitle" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">
    <meta property="og:description" id="ogdesc" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">
    <meta property="og:image" id="ogimg" content="">

    <title>wonnam medical : : official</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">






    <!--설명:html5 태그 ie 9 버전 미만일때 적용 스크립트-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--설명:IE6, IE7, IE8이 제대로 알아듣지 못하는 CSS도 사용가능 -->
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

    <!--설명:IE 8이하 브라우저에 미디어쿼리 인식 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--설명:IE 8이하 브라우저에 placeholder 속성 사용 -->
    <!--[if lt IE 9]>
    <script src="/script/placeholders.min.js"></script>
    <![endif]-->

    <!--설명:nth-child ie 8버전 이하에서 사용 -->
    <!--[if lt IE 9]>
    <script src="/script/selectivizr-min.js"></script>
    <![endif]-->

    <script src="/script/ie-checker-min.js"></script>

    <!--설명:IE8버전 이하에서 접속할경우 메시지보이기 -->
    <!--[if lte IE 8]>
    <p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
    <a href="http://www.microsoft.com/korea/ie" target="_blank" >익스플로러,</a>
    <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
    <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>
    <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
    <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a></p>
    <![endif]-->




</head>

<body>
<!--    header include-->
   
    <? include "include/header.html" ?>

   
   
   
    <div id="visual_sub">
        
    </div>
    
    <div id="snb_wrap">
        <div class="snb">
            <ul>
                <li><a href="/sub02_01">연구소 소개</a></li>
                <li><a href="/sub02_02">기술소개</a></li>
                <li><a href="/sub02_03">특허인증</a></li>

            </ul>

            <span class="circle"></span>
        </div>
   </div>
   
   
    <div id="section_sub_wrap">
        <div class="tech_wrap">
            <h2>기술 소개<span>OUR TECHNIQUE</span></h2>
            
            <img src="/images/sub_tech_t01.png" alt="title01">
            <div class="tech_01">
                <span>기술 특성과 독창성</span>
                <ul>
                    <li>CHARACTERISTIC</li>
                    <li>탈취력</li>
                    <li>기존의 제품에 비해 2배 이상 우수</li>
                    <li>향균력</li>
                    <li>PPB농도 단위에서도 탁월한 향균력을 발휘</li>
                    <li>변색방지</li>
                    <li>기존 일본제품의 단점인 변색을 방지하는 기술의 개발로 제품의 유통기간 증대</li>
                    <li>향균 지속력</li>
                    <li>기존의 제품은 초기에는 효과가 있으나 지속력이 떨어지는 단점을 보완하여 3~6개월의 지속력</li>
                </ul>
                
                <span>기술적 기대효과</span>
                <ul>
                    <li><span>1.</span> 천연 미네랄 혼합복합치환 기술의 확보</li>
                    <li><span>2.</span> 담체에 관한 세계적인 원천기술의 확보</li>
                    <li><span>3.</span> 보조기 및 의료기기 개발 및 연구</li>
                    <li><span>4.</span> 은 이온 농도 조절 치환기술의 확보</li>
                    <li><span>5.</span> 지속적 항균력과 뛰어난 탈취력을 가진 획기적인 창상치료봉합 의술의 확보</li>
                </ul>
            </div> 
            
            <img src="/images/sub_tech_t02.png" alt="title02">
            
            <div class="tech_02">
                <span>기술 특성과 독창성</span>    
                <ul class="tech_table01">
                    <li>
                        <img src="/images/sub_tech_table01.jpg" alt="tech">
                    </li>
                    <li>
                        정밀제작을 위한 얼라이먼트 의족제작기구원남메디칼(주) <br>기업부설연구소에서는 의족 사용자의 만족도를최선의 목표로 <br>연구 개발을 진행하고 있습니다.중기청의 지원을 받아 <br> " 다기능 대퇴의족 제작 기구의 개발 " 이라는과제명으로  <br>개발에 성공 하였습니다.
                    </li>
                </ul>
                
                
                <span>개발의 필요성</span>
                <ul class="tech_table02">
                    <li>
                    1. 당뇨병성 족부질환 및 불의의 사고로 인해 신체절단을 하게 된 환자들이 정상적인 사회생활을 할 수 있도록 환부에 적합한 의료 보조기가 필요함.
                    </li>
                    <li>
                    2. 이들은 각각의 환부에 맞는 의족을 필요로 하게 되며, 한번 제작된 보조기의 경우  3-5년 동안 자신의 신체일부와 같은 역할을 하게 됨. <br> 또한 취침시간을 제외한 하루 16시간 정도 의족을 착용하며, 개인의 신체하중이 한쪽으로 편중되지 않도록 분산 시켜 주어야 함. <br> 만약 이 제작공정에서 정확한 작업이 이루어지지 않는다면, 축적된 피로도로 인하여, 장기간 동안 육체적, 정신적인 고통을 동반하게 됨.
                    </li>
                    <li>
                    3. 기존에는 의족을 제작하기 위해서 각각 대퇴 취형틀, 구성품 정렬기, 착용틀이 필요하고  이것이 개별적으로 분리 되어 의족을 제작하는데 <br>불편한 점이 많았음.  그리고 각각 구입하게 되면 그 구입 비용이 상승하여 의족 제작시 원가에 반영되기  때문에 의족의 가격상승 요인이 됨.  <br>이러한 문제점을 해결하기 위하여 3가지로 분리되어 있는 기기를 하나로 접목시켜 개발한다면 취형시의 편리함으로 취형시 환자에게도 안락함을 <br>줄 수 있고 제조원가 또한 절감시킬 수 있어 보조기 업체에 보다 저렴한 가격으로 공급할 수 있음.
                    </li>
                    <li>
                    4. 제작과정에서 무릎위로 절단된 슬관절 의족의 경우 개인의 환부에 적합한 소켓 및 구성부품들의  정렬이 제작 중점 포인트이며, <br>이 과정에서 대퇴취형틀, 구성품 정렬기, 착용틀 등의 설비가  필요로 하게 됨. <br>특히 무릎위로 절단된 슬관절 의족의 경우 각각 개인의 정확한 취형 및 구성품의 정렬이  필요로 하게 되어 있음.
                    </li>
                    <li>
                    5. 지체부자유자들도 인간적 존엄과 환자로서의 기본 권리를 누릴 수 있도록 함. <br> 기존의 의료보조장비 및 제품들의 가격이 저렴하고 착용시 불편한 점을 감소시켜 준다면  환자들의 육체적, 정신적 고통을 줄여나갈 수 있음. <br> 이와함께 장차 장애인들에 대한 사회적 관심도 역시 높아져 보다 나은 삶의 질 추구와  사회계층간 융합에도 기여할 수 있을 것으로 기대됨.
                    </li>
                </ul>
            </div>
            <img src="/images/sub_tech_t03.png" alt="title03">
            <div class="tech_03">
                <span>개발의 필요성 및 기술의 특징</span>
                <ul>
                    <li>
                    1. 다채널 온도센서, 압력센서 계측장치를 통해  현재 증가추세인 척추측만증의 연구에 큰 기여가 예상 됨
                    </li>
                    <li>2. 환자의 보조기 착용시간을 예측할 수 있어 착용조건을 쉽게 도출할 수 있음.</li>
                    <li>3. 비정상적 착용조건의 범위를 데이터화 하여 연구 가능함.</li>
                    <li>4. 착용조건 분석 및 착용유무 분석을 통해 가이드 조건을 구축할 수 있음.</li>
                </ul>
            </div>
        </div>
        
        
    </div>


   
   
   
   
    <!--    footer include-->
 <? include "include/footer.html" ?>

<!--quick include-->
 <? include "include/quick.html" ?>






    <script src="/script/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'fade',
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>

    <script>
        var swiper = new Swiper('.swiper-big', {
            effect: 'slide',
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            }
        });

    </script>


  <!--  <script src="/script/jquery-3.4.1.js"></script>-->
    <script src="/script/jquery-ui.min.js"></script>
    <script src="/script/action.js"></script>
    

</body>

</html>
