<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=2.0">

    <!-- 포털사이트에 노출되는 PC website 정보-->
    <meta name="title" content="원남메디칼">
    <meta name="Author" content="clara">
    <meta name="Keywords" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업 ">
    <meta name="Description" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">

    <!--포털사이트에 노출되는 모바일 website 정보-->
    <meta property="og:type" content="mobilesite">
    <meta property="og:title" id="ogtitle" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">
    <meta property="og:description" id="ogdesc" content="의족, 의수, 대퇴, 하퇴, 의지, 척추측만증, 인솔, 사회적기업">
    <meta property="og:image" id="ogimg" content="">

    <title>wonnam medical : : official</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">






    <!--설명:html5 태그 ie 9 버전 미만일때 적용 스크립트-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--설명:IE6, IE7, IE8이 제대로 알아듣지 못하는 CSS도 사용가능 -->
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

    <!--설명:IE 8이하 브라우저에 미디어쿼리 인식 -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--설명:IE 8이하 브라우저에 placeholder 속성 사용 -->
    <!--[if lt IE 9]>
    <script src="/script/placeholders.min.js"></script>
    <![endif]-->

    <!--설명:nth-child ie 8버전 이하에서 사용 -->
    <!--[if lt IE 9]>
    <script src="/script/selectivizr-min.js"></script>
    <![endif]-->

    <script src="/script/ie-checker-min.js"></script>

    <!--설명:IE8버전 이하에서 접속할경우 메시지보이기 -->
    <!--[if lte IE 8]>
    <p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
    <a href="http://www.microsoft.com/korea/ie" target="_blank" >익스플로러,</a>
    <a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a>
    <a href="http://kr.opera.com/download/" target="_blank">오페라,</a>
    <a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
    <a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a></p>
    <![endif]-->




</head>

<body>
<!--    header include-->
   
    <? include "include/header.html" ?>

   
   
   
    <div id="visual_sub">
        
    </div>
    
    <div id="snb_wrap">
        <div class="snb">
            <ul>
                <li><a href="/sub02_01">연구소 소개</a></li>
                <li><a href="/sub02_02">기술소개</a></li>
                <li><a href="/sub02_03">특허인증</a></li>

            </ul>

            <span class="circle"></span>
        </div>
   </div>
   
   
    <div id="section_sub_wrap">
        {$content}
    </div>


   
   
   
   
    <!--    footer include-->
 <? include "include/footer.html" ?>

<!--quick include-->
 <? include "include/quick.html" ?>






    <script src="/script/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'fade',
            spaceBetween: 0,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

    </script>

    <script>
        var swiper = new Swiper('.swiper-big', {
            effect: 'slide',
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            }
        });

    </script>


  <!--  <script src="/script/jquery-3.4.1.js"></script>-->
    <script src="/script/jquery-ui.min.js"></script>
    <script src="/script/action.js"></script>
    

</body>

</html>
